[Desktop Entry]
Name=VLESS VPN Client
Comment=VLESS VPN Client
Exec=/app/bin/fless-client.js
Icon=com.fless.Client
Type=Application
Categories=Network;